$material-default := {
  bg-color: #fff //background color
  dark-text-color: #000
  light-text-color: #fff
  primary-text-percent: .87
  secondary-text-percent: .54
  disabledORhints-text-percent: .38
  divider-percent: .12
  active-icon-percent: .54
  inactive-icon-percent: .38
}

/* Text colors according to light vs dark and text type */
//https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines
//https://material.io/guidelines/style/color.html#color-usability
//other ideas from https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme
$dark-text-colors := {
  default: rgba($material-default.dark-text-color, $material-default.primary-text-percent) //primary default
  secondary: rgba($material-default.dark-text-color, $material-default.secondary-text-percent)
  hint: rgba($material-default.dark-text-color, $material-default.disabledORhints-text-percent)
  divider: rgba($material-default.dark-text-color, $material-default.divider-percent)
  disabled: rgba($material-default.dark-text-color, $material-default.disabledORhints-text-percent)
  icon: rgba($material-default.dark-text-color, $material-default.active-icon-percent)
  icon-inactive: rgba($material-default.dark-text-color, $material-default.inactive-icon-percent)
}
$light-text-colors := {
  default: $material-default.light-text-color //primary default
  secondary: rgba($material-default.light-text-color, .7)
  hint: rgba($material-default.light-text-color, .5)
  divider: rgba($material-default.light-text-color, .12)
  disabled: rgba($material-default.light-text-color, .5)
  icon: rgba($material-default.light-text-color, 1)
  icon-inactive: rgba($material-default.light-text-color, .5)
}
//TODO this should match what in the "Contextuable" mixin
//TODO make it jive with https://material.io/color/
//a good read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3
$scheme-classes-defaults := {
  neutral: $grey.lighten-2, //default background for buttons, nav-drawer, toolbar
  primary: $blue.darken-2,
  secondary: $grey.darken-3,
  accent: $blue.accent-2,
  info: $blue.base,
  warning: $amber.base,
  error: $red.accent-2,
  success: $green.base
}
$scheme-classes = merge($scheme-classes-defaults, $scheme-classes is defined ? $scheme-classes : {} )
//here for POC only, by default we use dark text so only override for light text colors, there should be a way to merge this hash with above
//Its kept seperate right now because it spins through $scheme and adds them as css classes and we don't want that for these
//set to light or dark and to point to $light-text-colors or $dark-text-colors
$scheme-config-defaults := {
  //grey: "dark"
  primary-text: "light"
  secondary-text: "light"
  info-text: "light"
  //warning-text: "dark"
  error-text: "light"
  success-text: "light"
}
$scheme-config = merge($scheme-config-defaults, $scheme-config is defined ? $scheme-config : {} )
