.icon
  align-items: center
  display: inline-flex
  font-size: 24px
  justify-content: center
  vertical-align: middle
  //default
  icon($icon-color-dark, $icon-color-dark-inactive)

  &--dark
    icon($icon-color-dark, $icon-color-dark-inactive)

  &--light
    icon($icon-color-light, $icon-color-light-inactive)

  &--small
    font-size: 20px

  &--large
    font-size: 2.5rem

  &--medium
    font-size: 2rem

  &--x-large
    font-size: 3rem
