for color_name, color_value in $scheme-classes
  //sets the default color based on the hash
  text_colors_hash = $scheme-config[color_name+'-text']
  if (text_colors_hash) {
    text_colors_hash = lookup('$'+text_colors_hash+'-text-colors')
  }
  global-color-text-default(color_name, color_value, text_colors_hash)



for color_name, color_value in $shades
  global-color(color_name, color_value)

if ($color-pack)
  for color_name, color in $colors
    for color_type, color_value in color
      if color_type == 'base'
        global-color(color_name, color_value)

      else if color_type != 'shades'
        global-color-accent(color_name, color_value)
